/* Pablo Leon Alcaide */
html,body,h1{
	margin:0;
    padding:0;
}
body{
	background-color: #33cc33;
	text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
header{
	color:#f4f4f4;
	background-color: #689F38;
	margin-top: 0;
	text-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	box-shadow: 0 5px 5px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);

}
main{
	width:100%;
}

#animate > figure {
	margin:0;
	padding:0;
	animation: carousel 15s linear 0s;
	background-size: 100% 100%;
	background-position: center center;
	color: transparent;
	height: 50%;
	opacity: 0;
	position: absolute;
	width: 100%;
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	#animate > figure:nth-child(1) { 
		background-image: url('../images/bg1.jpeg'); 
	}
	#animate > figure:nth-child(2) {
	  animation-delay: 4s;
	  background-image: url('../images/bg2.jpeg');
	}
	#animate > figure:nth-child(3) {
	  animation-delay: 8s;
	  background-image: url('../images/bg3.jpg');
	}
	#animate > figure:nth-child(4) {
	  animation-delay: 12s;
	  background-image: url('../images/bg4.jpg');
	}
	.link{
		margin-top: 50px;
		animation-name: movedown;
  		animation-duration: 1s;
  		opacity: 0;
		animation-delay:15s;
		animation-fill-mode: forwards;
	}
	.link a {
		margin: 30px auto;
  		padding: 10px 30px 10px 30px;
  		text-decoration: none;
  		border-radius: 2px;
  		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
		background-color: #e67e22;
  		color: #ecf0f1;
  		transition: 2s;
  		font-weight: bold;
	}
	.link a:hover{
		background-color: #d35400;
	}
	@keyframes carousel {  
		0% {
			animation-timing-function: ease-in;
			opacity: 0;
		}
		8% {
	 		animation-timing-function: ease-out;
		 	opacity: 1;
		}
		17% { opacity: 1 }
	 	25% { opacity: 0 }
	 	100% { opacity: 0 }
	}

	@keyframes movedown {
		0% {
			opacity: 0;
		    transform: translateY(5px);
		  }		   
		100% {
			opacity:1;
		    transform: translateY(0);
		  }
	}


	@media only screen and (min-width: 600px){
		
		#animate > figure{
			width: 80%;
			height: 60%;
			margin-left:auto;
			margin-right:auto;
			left:0;
			right:0;
		}
	}

	@media only screen and (min-width: 800px){
		#animate > figure{
			width: 60%;
			left: 300px;
			margin-left:auto;
			margin-right:auto;
			left:0;
			
		}	
	}