body{

}
header{
	background-color: #689F38;
	padding: 5px 0 5px 0;
}
header h3{
	display: inline;
	text-align:center;
	vertical-align:middle;
}
header a {
	text-decoration: none;
	color:#DCEDC8;
}
header a i{
	vertical-align: middle;
}
header a h2{
display: none;
}
nav{
	background: url(../images/nav.jpeg);
	height: 100px;
	padding: 30px 10px 30px 10px;
}
nav .searchBox{
	width: 80%;
	background-color: rgba(139,195,74,0.8);
	padding: 10px;
	margin:auto;	
	text-align:center;
}
.searchBox input {
  padding:5px 5px 5px 5px;
  border:none;
  border-bottom:1px solid #757575;
}
.searchBox input[type="search"]{
  width:60%;
}
.searchBox label{
	display:none;
}
.searchButton{
	display: inline-block;
}
main{
	background-color: blue;
}
footer{
	background-color: pink;
}
@media only screen and (min-width: 600px){
	header a h2{
			display: inline;

		}	
	.searchBox label{
		display: inline-block;
	}
	}

	@media only screen and (min-width: 800px){
		header a h2{
			display: inline;
		}
	}