*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #DCEDC8;
    font-family: 'Roboto', sans-serif;
}
header{
	background-color: #689F38;
	padding: 10px 0 10px 0;
}
header a h3{
	display: inline;
	text-align:center;
	vertical-align:middle;
}
header a {
	text-decoration: none;
	color:#DCEDC8;
}
header a i{
	vertical-align: middle;
}
header h2{
	display: none;
	vertical-align: middle;
	color:#212121;
}
.account{
	position: absolute;
	margin-right: 5px;
	right:0;
}

nav{
	background: url(../images/nav.jpeg);
	height: auto;
	padding: 30px 10px 30px 10px;
	border-bottom:2px solid #689F38;
}
nav .searchBox{
	width: 80%;
	height:auto;
	background-color: rgba(139,195,74,0.8);
	padding: 10px;
	margin:auto;	
	text-align:center;
  	color: #F4F4F4;
  font-size: 90%;

}
.searchBox input {
  padding:5px 5px 5px 5px;
  border:none;
  background: none;
  outline: none;
  border-bottom:1px solid #757575;
}
.searchBox input:focus{
	border-bottom:1px solid #BDBDBD;
}
.searchBox input[type="search"]{
  width:60%;
  margin: auto;
  display:block;
}
.searchBox label{
	display:inline-block;
}

form button{
	margin: 5px auto;
	text-align:center;
	background: #8BC34A;
	border-radius: 1px;
	border: 1px solid #689F38;
	color: #f4f4f4;
	cursor: pointer;
	box-shadow: 0 6px 10px 0 #666;
	width: 60%;
	vertical-align: middle;
	height:2rem;
	transition:2s;
}

form button:hover{
	box-shadow: 0 6px 14px 0 #666;
   background-color: #689F38;
}

main{
	display: grid;
	grid-template-rows: 1fr;
}
main i, main span  {
	vertical-align: middle;

}
main i {
	font-weight: bold;;
}
main article{
	margin: 10px 5px 5px 10px;
	border:1px solid #BDBDBD;
	padding: 5px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: 5s;
}

article h5{
	color: #757575;
}
.houseInfo{
	display:grid;
	grid-template-columns: 70% 20%;
	align-items: center;
	justify-content: space-between;
}
.houseInfo figure{
	background-size: cover;
	margin: 2px;
}
.houseInfo figure img{
	width: 100%;
}
.houseInfo ul{
	list-style: none;
}
.houseInfo ul li{
	vertical-align: middle;
	margin-top:10px;
	font-size: 80%;
}	
main i {
	color:#689F38;
	font-size: 1vmin;
}
 a i:hover{
	color:#FF5722;
	transform: scale(1.1);
}
footer{	
	background: #689F38;
	display: grid;
	padding-top: 5px;
	*grid-template-columns: 10% 30% 50%;
	*justify-content: space-between;
	position: absolute;
	width:100%;
}
footer ul {
	list-style: none;
	display: none;
}
footer a {
	text-decoration: none;
	color: #BDBDBD;
}

#rrssIcons {
		height:100%;	
		text-align: center;
}
#rrssIcons img{
	width: 2em;
	height: auto;
	transition: transform 1s ease-in;
}
#rrssIcons img:hover{
	transform: rotate(360deg) scale(1.1);
}
@media only screen and (min-width: 600px){

	header h2{	
		display: inline;
		position: absolute; right: 100px;
	}	
	.houseInfo img{
		content:url('./images/bg3.jpg');
	}
	.searchBox label{
		font-size: 0.7rem;
		display: inline-block;
		width:30%;
	}
	.searchButton{height:2.5rem;}
	footer { grid-template-columns: 30% 30% 30%; justify-content: space-between; vertical-align: bottom; padding: 10px 5px 10px 5px;}
	
	footer ul{ display: block;}
	footer a {margin:5px;}
	#rrssIcons{ vertical-align: bottom;}
}

@media only screen and (min-width: 800px){

	main {
		grid-template-columns: 40% 40%;
		justify-content: space-around;
	}
	.searchBox label{
		width:20%;
	}
}